* {
  padding: 0px;
  margin: 0px;
}
.main-container {
  height: 100%;
  width: 100vw;

  & .resume-heading-section {
  }
  & .input-value {
    width: 100%;
  }
  & .left-sidebar {
    height: 93vh;
    width: 30%;
  }
}
