* {
  padding: 0px;
  margin: 0px;
}
h1 {
  font-size: 32px;
}

h4 {
  font-weight: 700;
  font-weight: bolder;
  margin-bottom: 20px;
}
.main-container {
  height: 100%;
  width: 100vw;

  & .resume-section-container {
    display: flex;
  }
  & .input-value {
    width: 100%;
  }
  & .left-sidebar {
    height: 93vh;
    width: 30%;
  }
}
